.home-content {
    margin: 30px 0;
    text-align: center;
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img {
    animation: rotate 30s linear infinite;
    max-width: 30%;
    border-radius: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-content {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
}

.recipe-title {
    text-align: center;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recipe-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.recipe-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.recipe-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.explore-link-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.explore-link-secondary:hover {
    background-color: #555;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

