.home-content {
    margin: 30px 0;
    text-align: center;
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img {
    animation: rotate 30s linear infinite;
    max-width: 30%;
    border-radius: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

