@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    background-color: #f6f9f8;
    color: #333;
}

.page-layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: calc(100vh - 40px - 60px);
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    height: 60px;
    background: #fff;
    font-size: 1rem;
    border-radius: 0 0 10px 10px;
}

.navbar-social {
    display: flex;
    gap: 10px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: #333;
    text-decoration: none;
}
.navbar-link {
    position: relative;
    text-decoration: none;
    color: inherit;
    padding: 0 4px;
    transition: color 0.2s;
}

.navbar-link.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.navbar-logo {
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 0 2rem;
}

.navbar-underline {
    width: 0;
    height: 0;
    border-bottom: 2px solid #333;
    margin: 4px auto 0 auto;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-link .navbar-underline {
    width: 50%;
}

.primary-button {
    font-family: inherit;
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
}

.primary-button:hover {
    background-color: #555;
    text-decoration: none;
}

